@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  font-family: 'Quicksand', sans-serif;
}

.container{
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
}

.container p{
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  color: #486255;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.input, .msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
}

.login .input{
  width: 48%;
  margin-right: 4%;
  float: left;
}

.login .input:last-child{
  margin-right:0;
}

.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: #4caf50;
  color: #000;
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}


.btn:hover{
  background: #111;
  color: #fff;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}


::-webkit-input-placeholder{
  font-family: "Roboto, sans-serif";
}


::-moz-input-placeholder{
  font-family: "Roboto, sans-serif";
}


::-ms-input-placeholder{
  font-family: "Roboto, sans-serif";
}
